# Put into the local.conf file your local env properties for Development only
conf/local.conf


# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# I usually create a local Shell script to run my play app with Env variables set
run.sh

# Ignore Play! working directory #
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.ipr
*.iws
*.eml
*.class
project/project/
