<div class="page-header">

    <div class="row" >
        <div class="col-md-12">
            <table id="eventss" class="display">
                <thead>
                    <tr>
                        <th>Event type</th>
                        <th>Message</th>
                        <th>Date time</th>
                    </tr>
                </thead>
                <tbody>
            </tbody>
            </table>
        </div>
    </div>
</div>


<script>

        $(function () {

            var eventDatatable = $('#eventss').DataTable({
                "bServerSide": false,
                "ajax": {url: "/admin/events_data"},
                "columnDefs": [
                    {"visible": true, "targets": 0},
                    {"visible": true, "targets": 1},
                    {"visible": true, "targets": 2}
                ]
            });

        })

</script>