<div class="row">
    <div class="col-md-12">

        <h2>Update Sponsors list</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="POST" action="/admin/update/sponsors" id="runBatch">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="submit" value="Run update" class="form-control" id="btnRun"/>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

            &nbsp;
    </div>
</div>

