@(firstname: String, company: String, pass: String, email:String)

<h3>Dear @firstname</h3>

<h4>Welcome to Devoxx France.</h4>

<p>You have been designated as a sponsor representative for your company, <b>@company</b>. If this is not the case, please forward this email to <b>leadsystem@@devoxx.fr</b> and just ignore this email.</p>

<p>Please open a web browser to <a href="https://leadscan.devoxx.fr/">https://leadscan.devoxx.fr</a>. The Scan application works on Android with Chrome, iPhone 10 and in a web browser.</p>
<p>Identifiant = <code>@email</code><br>
Mot de passe = <code>@pass</code>
</p>
<p>If you want to reset your password, please visit <a href="https://my.devoxx.fr/">My.devoxx.fr</a> web site and select "Reset password".</p>
<p>This application will now connect you to the Devoxx France Leadscan application. You now have the ability to scan attendee badges and take notes. All leads scanned by you will be sent to your company's Devoxx FR representative at the end of the event.</p>
<p>Please see <a href="https://www.devoxx.us/leadsystem">www.devoxx.us/leadsystem</a> for more information, or contact <b>leadsystem@@devoxx.fr</b> if you need help.</p>
<p>Regards,</p>

<p>The Devoxx France Team</p>

<hr>
<h3>Cher(e) @firstname</h3>
<h4>Bienvenue à Devoxx France</h4>

<p>Vous recevez cet email car vous possedez un badge Exposant pour la société <strong>@company</strong>. Si vous pensez que ce n'est pas le cas, merci de faire suivre cet email à <b>leadsystem@@devoxx.fr</b>
    et d'ignore cet email</p>

<p>Vous pouvez utiliser l'application de scan des leads directement sur le navigateur de votre smartphone.
    Il n'est pas nécessaire d'installer une application. Utilisez Chrome sur Android ou Safari sur iPhone/iPad.
    L'application fonctionne aussi à partir d'un ordinateur portable avec une caméra.<p>

<p>Merci d'ouvrir l'url <a href="https://leadscan.devoxx.fr/">https://leadscan.devoxx.fr</a> et d'utiliser les informations
    suivantes pour vous authentifier : <p>
<p>Identifiant = <code>@email</code><br>
Mot de passe = <code>@pass</code>
</p>
<p>Pour changer votre mot de passe ou le ré-initialiser, allez directement sur <a href="http://my.devoxx.fr">http://my.devoxx.fr</a></p>
<p>L'application <a href="https://leadscan.devoxx.fr/">https://leadscan.devoxx.fr</a> vous permet de scanner les badges de chaque participant. Vous pouvez aussi prendre des notes
et compléter les informations des participants. L'ensemble de vos leads est stocké sur les serveurs Devoxx France.</p>
<p>Une documentation et une page d'aide en Français seront disponible durant la conférence</p>
<p>Nous passerons vous aider mercredi matin à configurer vos appareils</p>

<br>
<p>Cordialement</p>
<p>L'équipe Devoxx France</p>
<br>