@(firstname: String, company: String, pass: String, email:String, regid:String)

@regid

<h3>Dear @firstname</h3>

<h4>Welcome to Devoxx UK.</h4>

<p>You have been designated as a sponsor representative for your company, <b>@company</b>. If this is not the case, please forward this email to <b>sponsorscans@@devoxx.co.uk</b> and just ignore this email.</p>

<p>Please open a web browser to <a href="https://leadscan-pwa.devoxx.co.uk">https://leadscan-pwa.devoxx.co.uk</a>. The Scan application works on Android with Chrome, iPhone 10 and in a web browser.</p>
<p>User = <code>@email</code><br>
    Password = <code>@pass</code>
</p>

<p>The application <a href="https://leadscan-pwa.devoxx.co.uk">https://leadscan-pwa.devoxx.fr</a> allows you to scan attendee badges and take notes. All leads scanned by you will be sent to your company's representative at the end of the event.</p>

<p>On Thursday morning we will come by to your booth to see if everything is ok</p>
<p>Regards,</p>

<p>The Devoxx France Team</p>
<br>