@(firstname: String, company: String, pass: String)


<h3>Dear @firstname</h3>

<h3>Welcome to Devoxx US.</h3>

<p>You have been designated as a sponsor representative for your company, <h4><b>@company</b></h4>. If this is not the case, please forward this email to <b>leadsystem@@devoxx.us</b> indicating the error.</p>

<p>Your account id is your email address. Your assigned password is :</p>

<h4>@pass</h4>

<p>Please open a web browser to <a href="https://mydevoxx-pwa.cleverapps.io/">mydevoxx-pwa.cleverapps.io/</a>. The Scan application works on Android, iPhone and in a web browser.</p>

<p>This application will now connect you to the Devoxx US Leadscan application. You now have the ability to scan attendee badges and take notes. All leads scanned by you will be sent to your company's Devoxx US representative at the end of the event.</p>

<p>Please see <a href="http://www.devoxx.us/leadsystem">www.devoxx.us/leadsystem</a> for more information, or contact <b>leadsystem@@devoxx.us</b> if you need help.</p>

<p>Regards,</p>

<p>The Devoxx US Team</p>

