<div class="row" >

    <div class="col-md-3" >&nbsp;</div>

    <div class="col-md-6" >

        <table id="exportTable" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th>Sponsor</th>
                    <th>Sponsor Summary Report</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    <div class="col-md-3" >&nbsp;</div>

</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row" >

    <div class="col-md-3" >&nbsp;</div>

    <div class="col-md-6" >

        <table id="representative" class="display">
            <thead>
                <tr>
                    <th>RegId</th>
                    <th>Representative</th>
                    <th>idSponsor</th>
                    <th>Sponsor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    <div class="col-md-3" >&nbsp;</div>

</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-3" >&nbsp;</div>

    <div class="col-md-6" >

        <a href="/admin/export_event">Event Summary Report</a>

    </div>

    <div class="col-md-3" >&nbsp;</div>
</div>



<script>


        $(function () {

            var exportDatatable = $('#exportTable').DataTable({
                "bServerSide": false,
                "ajax": {url: "/admin/sponsors/all"},
                "columnDefs": [
                    {"visible": false, "targets": 0},
                    {"visible": true, "targets": 1},
                    {
                        "visible": true,
                        "targets": 2,
                        "render": function (data, type, full, meta) {
                            return "<a target='_blank' href='/admin/export/" + full[0] + "'>Export</a>";
                        }
                    }
                ]
            });

            var representativeDatatable = $('#representative').DataTable({
                "bServerSide": false,
                "ajax": {url: "/admin/only_representatives"},
                "columnDefs": [
                    {"visible": true, "targets": 0},
                    {"visible": true, "targets": 1},
                    {"visible": true, "targets": 2},
                    {"visible": false, "targets": 3},
                    {
                        "visible": true,
                        "targets": 4,
                        "render": function (data, type, full, meta) {
                            return "<a target='_blank' href='/admin/export_representative/" + full[0] + "'>Export</a>";
                        }
                    }
                ]
            }).on('draw.dt', function () {

            });


        })
    </script>