<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Devoxx Lead-Scan</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-theme.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datatable/jquery.dataTables.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">


        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery/jquery-2.2.3.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/charts/Chart.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/datatable/jquery.dataTables.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("/javascripts/underscore/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/vuejs/vue.min.js")"></script>
        <script type="application/javascript">
        </script>

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Devoxx Scanning</a>
                </div>
                <div id="splash" style="background-color: darkred;
                    width: 100%;
                    height: 100%" ></div>

                <div id="loginVue">
                    <div class="navbar-form navbar-left" v-if="displayForm">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input type="text" class="form-control-auth" id="lg_username" name="lg_username" placeholder="username">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control-auth" id="lg_password" name="lg_password" placeholder="password">
                        <button type="button" id="loginForm" v-on:click="loginForm" class="btn btn-default">Login</button>
                    </div>
                    <div class="navbar-form navbar-left" v-if="displayUserName">
                        <span class="navbar-brand" href="#">{{username}}</span>
                        <a href="#" class="navbar-brand" v-on:click="signout" id="signout" >Sign-out</a>
                    </div>
                    <div class="navbar-form navbar-left" v-if="displayError">
                        <div class="alert alert-danger" v-model="errorMessage" role="alert">{{errorMessage}}</div>
                    </div>

                    <ul class="nav navbar-nav navbar-right" v-if="displayMenu">
                        <li><a href="#" id="importLink" v-on:click="importLink">Import</a></li>
                        <li><a href="#" id="exportLink" v-on:click="exportLink">Export</a></li>
                        <li><a href="#" id="sponsorsLink" v-on:click="sponsorsLink">Sponsors</a></li>
                        <li><a href="#" id="reprSponsorsLink" v-on:click="reprSponsorsLink">Representative / Sponsors</a></li>
                        <li><a href="#" id="personLink" v-on:click="personLink">Person</a></li>
                        <li><a href="#" id="pass" v-on:click="passLink">Password</a></li>
                        <li><a href="#" id="stats" v-on:click="statsLink">Stats</a></li>

                    </ul>
                </div>
            </div>
                <!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
        </nav>
        <div id="display"></div>
        <div class="container-fluid" id="main">
            <div class="page-header">
                <h1>Welcome to Devoxx FR Scanning App <small></small></h1>
            </div>
        </div>

        <script>

            $(function () {

                checkAuth()


                var loginVue = new Vue({
                    el: "#loginVue",
                    data: {
                        display: true,
                        displayForm: true,
                        displayMenu: false,
                        displayError: false,
                        displayUserName: false,
                        errorMessage: ""

                    },
                    methods: {
                        signout: function () {
                            $.ajax({
                                url: "/signout",
                                type: "GET",
                                success: function (data) {
                                    window.location = "/"
                                }
                            })
                        },
                        loginForm: function (e) {
                            console.log("click login")
                            this.displayError = false;

                            if (isNoError("form-control-auth")) {
                                $.ajax({
                                    url: "/auth",
                                    type: "POST",
                                    data: JSON.stringify({
                                        login: String($("#lg_username").val()),
                                        password: String($("#lg_password").val())
                                    }),
                                    contentType: 'application/json',
                                    dataType: "json",
                                    success: function (data) {
                                        console.log("Ok")
                                        loginVue.displayError = false;
                                        loginVue.display = false;
                                        loginVue.displayUserName = true;
                                        loginVue.username = data['mail']
                                        loginVue.displayMenu = true;
                                        loginVue.displayForm = false

                                    },
                                    error: function (data) {
                                        console.log("error" + data)
                                        loginVue.displayError = true;
                                        loginVue.errorMessage = "Login and password are not authorized"
                                        loginVue.displayUserName = false;
                                        loginVue.username = ""
                                    }
                                })
                            }
                        }

                        ,
                        importLink: function (e) {
                            console.log("importLink")
                            menuItemEvent('/admin/import', loginVue);
                        }
                        ,
                        exportLink: function (e) {
                            menuItemEvent('/admin/export', loginVue);
                        }
                        ,
                        statsLink: function (e) {
                            menuItemEvent('/admin/stats', loginVue);
                        }
                        ,
                        personLink: function (e) {
                            menuItemEvent('/admin/persons', loginVue);
                        }
                        ,
                        sponsorsLink: function (e) {
                            menuItemEvent('/admin/sponsors', loginVue);
                        },
                        reprSponsorsLink: function (e) {
                            menuItemEvent('/admin/view_only_representatives', loginVue);
                        }
                        ,
                        passLink: function (e) {
                            menuItemEvent('/admin/passView', loginVue);
                        }
                        ,
                        statsLink: function (e) {
                            menuItemEvent('/admin/stats', loginVue);
                        }

                    }
                });


                function isNoError(classId) {
                    var isError = false;
                    _.each($('.' + classId), function (r) {
                        if ($(r).val() == "" || $(r).val() == null) {
                            $(r).addClass('inputError');
                            isError = true;
                        } else {
                            $(r).removeClass('inputError');
                        }

                    });
                    return !isError
                }


                function checkAuth() {

                    $.ajax({
                        url: "/admin/checkAuth",
                        type: "GET",
                        success: function (data) {
                            loginVue.displayError = false;
                            loginVue.display = false;
                            loginVue.displayUserName = true;
                            loginVue.username = data['mail']
                            loginVue.displayMenu = true;
                            loginVue.displayForm = false
                        },
                        error: function (data) {
                            console.log("error")
                            loginVue.displayError = false;
                            loginVue.errorMessage = "You must be authenticated ";
                            loginVue.displayUserName = false;
                            loginVue.username = "";
                            loginVue.displayForm = true;
                            loginVue.displayMenu = false;
                        }
                    })

                }

                function menuItemEvent(uri, loginVue) {

                    $.ajax({
                        url: uri,
                        type: "GET",
                        success: function (data) {
                            $('#main').html(data)
                        },
                        error: function (data) {
                            console.log("error")
                            loginVue.displayError = true;
                            loginVue.errorMessage = "You must be authenticated ";
                            loginVue.displayUserName = false;
                            loginVue.username = "";
                            loginVue.displayForm = true;
                            loginVue.displayMenu = false;
                        }
                    })

                }

                $("#signout").click(function () {
                    console.log("sfsdfdsfdsdsf")
                    $.ajax({
                        url: "/signout",
                        type: "GET",
                        success: function (data) {
                            window.location = "/"

                        }
                    })
                });


            });




        </script>
    </body>
</html>