<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Devoxx Scanning</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-theme.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datatable/jquery.dataTables.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">


        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery/jquery-2.2.3.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/charts/Chart.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/datatable/jquery.dataTables.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("/javascripts/underscore/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/vuejs/vue.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/utils.js")"></script>
        <script type="application/javascript">
        </script>

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Devoxx Scanning</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>

                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>-->


                <div class="navbar-form navbar-left" id="loginVue" v-if="display">
                    <label for="lg_username" class="sr-only">Username</label>
                    <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
                    <label for="lg_password" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
                    <button type="button" id="loginForm" class="btn btn-default">Login</button>
                </div>
                <div class="navbar-form navbar-left" id="connectedVue" v-if="display">
                    <a class="navbar-brand" href="#">{{username}}</a>
                </div>
                <div class="navbar-form navbar-left" id="errorMessage" v-if="isError">
                    <div class="alert alert-danger" v-model="message" role="alert">{{message}}</div>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="importLink">Import</a></li>
                    <li><a href="#" id="exportLink">Export</a></li>
                    <li><a href="#" id="sponsorsLink">Sponsors</a></li>
                    <li><a href="#" id="personLink">Person</a></li>
                    <li><a href="#" id="stats">Stats</a></li>

                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>-->
                </ul>
            </div>
                <!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
        </nav>
        <div id="display"></div>
        <div class="container-fluid" id="main">
            <div class="page-header">
                <h1>Welcome to Devoxx Scanning App <small>vers 0.1</small></h1>
            </div>
        </div>

        <script>

            $(function () {

                var errorVue = new Vue({
                    el: "#errorMessage",
                    data: {
                        isError: false,
                        message: ""
                    }
                });

                var loginVue = new Vue({
                    el: "#loginVue",
                    data: {
                        display: true

                    }
                });

                var connectedVue = new Vue({
                    el: "#connectedVue",
                    data: {
                        display: false,
                        username: ""
                    }
                });


                registerMenuItem('#sponsorsLink', '/admin/sponsors', errorVue);
                registerMenuItem('#personLink', '/admin/persons', errorVue);
                registerMenuItem('#stats', '/admin/stats', errorVue);
                registerMenuItem('#exportLink', '/admin/export', errorVue);
                registerMenuItem('#importLink', '/admin/import', errorVue);


                $("#loginForm").click(function () {
                    errorVue.isError = false;

                    if (isNoError("form-control")) {
                        $.ajax({
                            url: "/auth",
                            type: "POST",
                            data: JSON.stringify({
                                login: String($("#lg_username").val()),
                                password: String($("#lg_password").val())
                            }),
                            contentType: 'application/json',
                            dataType: "json",
                            success: function (data) {
                                console.log()
                                token = data['X-Auth-Token'];
                                errorVue.isError = false;
                                loginVue.display = false;
                                connectedVue.display = true;
                                connectedVue.username = data['mail']

                            },
                            error: function (data) {
                                console.log("error")
                                errorVue.message = "Login and password are not authorized"
                                errorVue.isError = true;
                                connectedVue.display = false;
                                loginVue.display = true;
                            }
                        })
                    }
                });


                function isNoError(classId) {
                    var isError = false;
                    _.each($('.' + classId), function (r) {
                        if ($(r).val() == "" || $(r).val() == null) {
                            $(r).addClass('inputError');
                            isError = true;
                        } else {
                            $(r).removeClass('inputError');
                        }

                    });
                    return !isError
                }


            });




        </script>
    </body>
</html>