<!--<div class="row" id="representativeVue" v-show="show">
    <div class="col-md-12">

        <table id="representative" class="display">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

</div>-->

<div class="page-header">
    <h1>Work in progress <small>Persons</small></h1>
</div>

<script>

        $(function () {

            console.log("hello")

        })

</script>