<div class="row">

    <div class="col-md-3">
        <div class="panel panel-default" id="formSponsorVue" v-show="show" transition="remove" >

            <div>
                <h3><span class="label label-default" >Add sponsor</span></h3>
            </div>
            <div class="panel-body" >
                <div class="form-group">
                    <input type="text" class="form-control sponsorcheckForm" id="nom" name="nom" v-model="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control sponsorcheckForm" id="prenom" name="prenom" v-model="level" placeholder="Level">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" v-on:click="add" >Save</button>
                    <button type="button" class="btn btn-default" v-on:click="cancel" >Cancel</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="formSponsorUpdateVue" v-show="show" transition="remove" >

            <div>
                <h3><span class="label label-default" >Update sponsor</span></h3>
            </div>
            <div class="panel-body" >
                <div class="form-group">
                    <input type="text" class="form-control sponsorUpdatecheckForm" id="nom" name="nom" v-model="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control sponsorUpdatecheckForm" id="prenom" name="prenom" v-model="level" placeholder="Level">

                    <input type="hidden" id="id" name="id" v-model="id" >
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" v-on:click="update" >Update</button>
                    <button type="button" class="btn btn-default" v-on:click="cancel" >Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="errorMessage" v-if="isError">
            <div class="alert alert-danger" v-model="message" role="alert">{{message}}</div>
        </div>
    </div>
    <div class="col-md-9">

        <table id="sponsors" class="display">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Level</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <h4><span id="selectedSponsor"></span> / <span id="selectedRepresentative"></span></h4>
        <button type="button" class="btn btn-default" disabled id="addRepresentative" >Add representative</button>
        <button type="button" class="btn btn-default" disabled id="removeRepresentative" >remove representative</button>

        <input type="hidden" id="idPerson">
        <input type="hidden" id="idSponsor">

    </div>

</div>


<div class="row" >
</div> <div class="row" >
</div> <div class="row" >
</div>
<div class="row" >

    <div class="col-md-3" id="formNewVue" >
        <div class="panel panel-default" >

            <div>
                <h3><span class="label label-default" >Add Representative</span></h3>
            </div>
            <div class="panel-body" >
                <div class="form-group">
                    <input type="text" class="form-control newcheckForm" v-model="firstname" placeholder="Firstname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control newcheckForm" v-model="lastname" placeholder="Lastname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control newcheckForm" v-model="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" v-on:click="add" >Save</button>
                    <button type="button" class="btn btn-default" v-on:click="cancel" >Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-9" id="representativeVue" >

        <table id="representative" class="display">
            <thead>
                <tr>
                    <th>RegId</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>idSponsor</th>
                    <th>Sponsor</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

</div>




<script>

        $(function () {

            var representativeVue = new Vue({
                el: "#representativeVue",
                data: {
                    sponsor: "",
                    show: true
                }
            });


            var newRepresentativeVue = new Vue({
                el: "#formNewVue",
                data: {
                    firstname: "",
                    lastname: "",
                    email: "",
                    show: true
                }, methods: {
                    cancel: function (e) {

                        newRepresentativeVue.firname = "";
                        newRepresentativeVue.lastname = "";
                        newRepresentativeVue.email = "";
                    },
                    add: function (e) {
                        if (isNoError('newcheckForm')) {
                            $.ajax({
                                url: "/admin/representatives/new",
                                type: 'POST',
                                data: JSON.stringify({
                                    firstname: newRepresentativeVue.firstname,
                                    lastname: newRepresentativeVue.lastname,
                                    email: newRepresentativeVue.email
                                }),
                                async: true,
                                success: function (data) {

                                    representativeDatatable.ajax.reload(false);
                                    newRepresentativeVue.firstname = "";
                                    newRepresentativeVue.lastname = "";
                                    newRepresentativeVue.email = "";
                                },
                                error: function (e) {
                                    console.error(e);
                                },
                                cache: false,
                                contentType: 'application/json',
                                processData: false
                            });


                        }
                    }
                }
            });


            var formSponsorUpdateVue = new Vue({
                el: "#formSponsorUpdateVue",
                data: {
                    show: false,
                    id: "",
                    name: "",
                    level: ""
                },
                methods: {
                    cancel: function (e) {

                        formSponsorUpdateVue.name = "";
                        formSponsorUpdateVue.level = "";
                        formSponsorUpdateVue.show = false;
                        formSponsorVue.show = true;

                    },
                    update: function (e) {

                        if (isNoError('sponsorUpdatecheckForm')) {

                            $.ajax({
                                url: "/admin/sponsors",
                                type: 'PUT',
                                data: JSON.stringify({
                                    id: formSponsorUpdateVue.id,
                                    name: formSponsorUpdateVue.name,
                                    level: formSponsorUpdateVue.level
                                }),
                                async: true,
                                success: function (data) {

                                    sponsorDatatable.ajax.reload(false);
                                    formSponsorUpdateVue.name = ""
                                    formSponsorUpdateVue.level = ""
                                    formSponsorUpdateVue.id = ""
                                    formSponsorUpdateVue.show = false
                                    formSponsorVue.show = true
                                },
                                cache: false,
                                contentType: 'application/json',
                                processData: false
                            });


                        }
                    }
                }
            });
            var formSponsorVue = new Vue({
                el: "#formSponsorVue",
                data: {
                    show: true,
                    name: "",
                    level: ""
                },
                methods: {
                    cancel: function (e) {

                        formSponsorVue.name = ""
                        formSponsorVue.level = ""
                    },
                    add: function (e) {
                        if (isNoError('sponsorcheckForm')) {
                            $.ajax({
                                url: "/admin/sponsors",
                                type: 'POST',
                                data: JSON.stringify({
                                    name: formSponsorVue.name,
                                    level: formSponsorVue.level
                                }),
                                async: true,
                                success: function (data) {

                                    sponsorDatatable.ajax.reload(false);
                                    formSponsorVue.name = ""
                                    formSponsorVue.level = ""
                                },
                                error: function (e) {
                                    console.error(e);
                                },
                                cache: false,
                                contentType: 'application/json',
                                processData: false
                            });


                        }
                    }
                }
            });


            $('#sponsors tbody').on('dblclick', 'tr', function () {
                var id = sponsorDatatable.row(this).data()[0];
                $.get("/admin/sponsors/" + id).fail(function () {
                    eVue.isError = true;
                    eVue.message = "Sponsor not found for " + id;
                }).success(function (data) {
                    formSponsorUpdateVue.name = data.name;
                    formSponsorUpdateVue.level = data.level;
                    formSponsorUpdateVue.id = data.id;
                    formSponsorVue.show = false;
                    formSponsorUpdateVue.show = true

                });

            });

            $('#sponsors tbody').on('click', 'tr', function () {

                $("#sponsors tbody tr").removeClass('row_selected');
                $(this).addClass('row_selected');
                $('#selectedSponsor').html(sponsorDatatable.row(this).data()[1]);
                $('#idSponsor').val(sponsorDatatable.row(this).data()[0])


                activeAddRepresentative()
            });

            $('#representative tbody').on('click', 'tr', function () {


                $("#representative tbody tr").removeClass('row_selected');
                $(this).addClass('row_selected');
                $('#selectedRepresentative').html(representativeDatatable.row(this).data()[1] + " " + representativeDatatable.row(this).data()[2]);
                $('#idPerson').val(representativeDatatable.row(this).data()[0])
                activeAddRepresentative()
                activeRemoveRepresentative()


            });


            var sponsorDatatable = $('#sponsors').DataTable({
                "bServerSide": false,
                "ajax": {url: "/admin/sponsors/all"},
                "columnDefs": [
                    {"visible": false, "targets": 0},
                    {"visible": true, "targets": 1},
                    {"visible": true, "targets": 2}
                ]
            });


            var representativeDatatable = $('#representative').DataTable({
                "bServerSide": false,
                "ajax": {url: "/admin/representatives"},
                "columnDefs": [
                    {"visible": true, "targets": 0},
                    {"visible": true, "targets": 1},
                    {"visible": true, "targets": 2},
                    {"visible": false, "targets": 3},
                    {"visible": true, "targets": 4}
                ]
            }).on('draw.dt', function () {

            });

            $('#addRepresentative').click(function () {

                $.ajax({
                    url: "/admin/representatives",
                    type: 'POST',
                    data: JSON.stringify({
                        idPerson: Number($("#idPerson").val()),
                        idSponsor: Number($("#idSponsor").val())
                    }),
                    async: true,
                    success: function (data) {
                        sponsorDatatable.ajax.reload(false);
                        representativeDatatable.ajax.reload(false);
                    },
                    cache: false,
                    contentType: 'application/json',
                    processData: false
                });

            });

            $('#removeRepresentative').click(function () {

                $.ajax({
                    url: "/admin/representatives/" + Number($("#idPerson").val()),
                    type: 'DELETE',
                    async: true,
                    success: function (data) {
                        sponsorDatatable.ajax.reload(false);
                        representativeDatatable.ajax.reload(false);
                    },
                    cache: false,
                    contentType: 'application/json',
                    processData: false
                });

            });


            function isNoError(classId) {
                var isError = false;
                _.each($('.' + classId), function (r) {
                    if ($(r).val() == "" || $(r).val() == null) {
                        isError = true;
                        $(r).addClass('inputError');
                        eVue.isError = true;
                        eVue.message = "Please fill missed field(s))";
                    } else {
                        $(r).removeClass('inputError');
                    }

                    if (!isError) {
                        eVue.isError = false;
                    }
                });
                return !isError
            }

            var eVue = new Vue({
                el: "#errorMessage",
                data: {
                    isError: false,
                    message: ""
                }
            });


            function activeAddRepresentative() {


                var idPerson = $("#idPerson").val()
                var ipdSponsor = $("#idSponsor").val()

                if (!(_.isEmpty(ipdSponsor) || _.isEmpty(idPerson))) {

                    $('#addRepresentative').removeAttr("disabled")
                }

            }

            function activeRemoveRepresentative() {


                var idPerson = $("#idPerson").val()


                if (!_.isEmpty(idPerson)) {

                    $('#removeRepresentative').removeAttr("disabled")
                }

            }

            $("#representative_filter input").after("<br> Used the - character to find no-linked persons")


        })






</script>

