<div class="container-fluid" >

    <div class="row">
        <div class="col-md-6">
            <div>
                <canvas id="leadByhour"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <canvas id="leadBySponsor"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="leadByhourGlobale"></canvas>
        </div>
        <div class="col-md-6">
            <div>
               &nbsp;
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$(function () {




    $.ajax({
        url: '/reports/stats_by_sponsor/data',
        type: "GET",
        success: function (data) {


            var dataLeadByhourGlobal = {
                labels: data.dataTimeGlobable,
                datasets: [
                    {
                        label: "Number of leads by hour for all sponsors",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: data.pointsGlobal,
                        spanGaps: false
                    }
                ]
            };

            var ctx = $("#leadByhourGlobale");
            new Chart(ctx, {
                type: 'line',
                data: dataLeadByhourGlobal,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var dataLeadByhour = {
                labels: data.datetime,
                datasets: [
                    {
                        label: "Number of leads you by hour",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: data.points,
                        spanGaps: false
                    }
                ]
            };

            var ctx = $("#leadByhour");
            new Chart(ctx, {
                type: 'line',
                data: dataLeadByhour,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });


            var dataSponsor = {
                labels: data.sponsors,
                datasets: [
                    {
                        label: "Number of Lead by sponsor",
                        backgroundColor: [

                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,
                        data: data.nbLead
                    }
                ]
            };

            var ctx = $("#leadBySponsor");
            new Chart(ctx, {
                type: "horizontalBar",
                data: dataSponsor,
                options: {
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });


        },
        error: function (data) {
            console.log("error")

        }
    })


});
</script>

